{% extends 'registration/baseAuth.html' %}
{% load static %}

{% block title %}
    Login in NarrativeCraft
{% endblock %}

{% block main %}
    <form method="post">
        <h2>Login</h2>
        {% csrf_token %}
        <input type="text" name="username" maxlength="150" required="" placeholder="Username" id="id_username">
        <input type="password" name="password" required="" placeholder="Password" id="id_password">
        <span class="errors">{{ form.errors }}</span>
        <div class="logReg">
            <button type="submit">Login</button>
            <a href="/register">Create account?</a>
        </div>
        <a class="socialLogin" href="{% url 'social:begin' 'google-oauth2' %}">
            <img src="{% static 'images/googleLogo.png' %}" alt="Google logo">
            Login with Google
        </a>
    </form>
{% endblock %}
