{% load static %}
<footer>
    <p class="descriptionProject">NarrativeCraft - це веб-додаток, де користувачі можуть створювати та читати короткі оповіді.</p>
    <div class="info">
        <div class="links">
            <a href=""><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a>
            <a href=""><img src="{% static 'images/telegram.png' %}" alt="Telegram"></a>
            <a href=""><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
        </div>
        <a href="">Support</a>
        <p class="phone">Phone - 0686038282</p>
    </div>

</footer>